!!!
%html
  %head
    %title
      = @title
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-full
      .navbar-brand
        Nerdery: Ordering, Catering, and Delivery
      %ul.nav.navbar-nav
        %li.nav-item
          %a.nav-link
            = link_to 'Snacks', snacks_path, class: 'nav-link'
          %a.nav-link
            = link_to 'Suggest a Snack', new_snack_path, class: 'nav-link'

    %main
      .container-fluid
        - if flash.present?
          %div.error
            %ul
            - flash[:error].each do |error|
              %li
                = error

        = yield
